trunk/02 - Desenvolvimento/04 - Construcao/08 - Aplicacao/11 - Client/DCoracoesNovoClient/src/wsdl/localhost_8080/DCoracoes-Servico/wsServiceDCoracoes.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><xs:schema xmlns:tns="http://service.servico.dcoracoes.com.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.servico.dcoracoes.com.br/">

<xs:element name="Exception" type="tns:Exception" />

<xs:element name="aprovarPedido" type="tns:aprovarPedido" />

<xs:element name="aprovarPedidoResponse" type="tns:aprovarPedidoResponse" />

<xs:element name="gerarNumeroProtocolo" type="tns:gerarNumeroProtocolo" />

<xs:element name="gerarNumeroProtocoloResponse" type="tns:gerarNumeroProtocoloResponse" />

<xs:element name="recAlertasPorPessoa" type="tns:recAlertasPorPessoa" />

<xs:element name="recAlertasPorPessoaResponse" type="tns:recAlertasPorPessoaResponse" />

<xs:element name="recCodigoOrcamento" type="tns:recCodigoOrcamento" />

<xs:element name="recCodigoOrcamentoResponse" type="tns:recCodigoOrcamentoResponse" />

<xs:element name="recCodigoSequencia" type="tns:recCodigoSequencia" />

<xs:element name="recCodigoSequenciaResponse" type="tns:recCodigoSequenciaResponse" />

<xs:element name="recListaAlertas" type="tns:recListaAlertas" />

<xs:element name="recListaAlertasResponse" type="tns:recListaAlertasResponse" />

<xs:element name="recListaPedidos" type="tns:recListaPedidos" />

<xs:element name="recListaPedidosResponse" type="tns:recListaPedidosResponse" />

<xs:element name="recListaPerfis" type="tns:recListaPerfis" />

<xs:element name="recListaPerfisResponse" type="tns:recListaPerfisResponse" />

<xs:element name="recListaUsuario" type="tns:recListaUsuario" />

<xs:element name="recListaUsuarioResponse" type="tns:recListaUsuarioResponse" />

<xs:element name="recListaViewRevendedor" type="tns:recListaViewRevendedor" />

<xs:element name="recListaViewRevendedorResponse" type="tns:recListaViewRevendedorResponse" />

<xs:element name="recPerfilPorId" type="tns:recPerfilPorId" />

<xs:element name="recPerfilPorIdResponse" type="tns:recPerfilPorIdResponse" />

<xs:element name="recPermissoesPorPerfil" type="tns:recPermissoesPorPerfil" />

<xs:element name="recPermissoesPorPerfilResponse" type="tns:recPermissoesPorPerfilResponse" />

<xs:element name="recPessoaPorId" type="tns:recPessoaPorId" />

<xs:element name="recPessoaPorIdResponse" type="tns:recPessoaPorIdResponse" />

<xs:element name="recProdutos" type="tns:recProdutos" />

<xs:element name="recProdutosResponse" type="tns:recProdutosResponse" />

<xs:element name="recRelatorioPedidosPorRevendedor" type="tns:recRelatorioPedidosPorRevendedor" />

<xs:element name="recRelatorioPedidosPorRevendedorResponse" type="tns:recRelatorioPedidosPorRevendedorResponse" />

<xs:element name="recRevendedorEtiqueta" type="tns:recRevendedorEtiqueta" />

<xs:element name="recRevendedorEtiquetaResponse" type="tns:recRevendedorEtiquetaResponse" />

<xs:element name="recTodasPemissoes" type="tns:recTodasPemissoes" />

<xs:element name="recTodasPemissoesResponse" type="tns:recTodasPemissoesResponse" />

<xs:element name="recUltimoPedidoVenda" type="tns:recUltimoPedidoVenda" />

<xs:element name="recUltimoPedidoVendaResponse" type="tns:recUltimoPedidoVendaResponse" />

<xs:element name="recUltimoRevendedorCadastro" type="tns:recUltimoRevendedorCadastro" />

<xs:element name="recUltimoRevendedorCadastroResponse" type="tns:recUltimoRevendedorCadastroResponse" />

<xs:element name="recUsuarioPorId" type="tns:recUsuarioPorId" />

<xs:element name="recUsuarioPorIdResponse" type="tns:recUsuarioPorIdResponse" />

<xs:element name="removeItemProduto" type="tns:removeItemProduto" />

<xs:element name="removeItemProdutoResponse" type="tns:removeItemProdutoResponse" />

<xs:element name="removePedido" type="tns:removePedido" />

<xs:element name="removePedidoResponse" type="tns:removePedidoResponse" />

<xs:element name="removeProduto" type="tns:removeProduto" />

<xs:element name="removeProdutoResponse" type="tns:removeProdutoResponse" />

<xs:element name="salvarAlerta" type="tns:salvarAlerta" />

<xs:element name="salvarAlertaResponse" type="tns:salvarAlertaResponse" />

<xs:element name="salvarPedido" type="tns:salvarPedido" />

<xs:element name="salvarPedidoResponse" type="tns:salvarPedidoResponse" />

<xs:element name="salvarPerfil" type="tns:salvarPerfil" />

<xs:element name="salvarPerfilResponse" type="tns:salvarPerfilResponse" />

<xs:element name="salvarPermissao" type="tns:salvarPermissao" />

<xs:element name="salvarPermissaoResponse" type="tns:salvarPermissaoResponse" />

<xs:element name="salvarProduto" type="tns:salvarProduto" />

<xs:element name="salvarProdutoResponse" type="tns:salvarProdutoResponse" />

<xs:element name="salvarRevendedor" type="tns:salvarRevendedor" />

<xs:element name="salvarRevendedorResponse" type="tns:salvarRevendedorResponse" />

<xs:element name="salvarUsuario" type="tns:salvarUsuario" />

<xs:element name="salvarUsuarioComRetorno" type="tns:salvarUsuarioComRetorno" />

<xs:element name="salvarUsuarioComRetornoResponse" type="tns:salvarUsuarioComRetornoResponse" />

<xs:element name="salvarUsuarioResponse" type="tns:salvarUsuarioResponse" />

<xs:element name="validaCPF" type="tns:validaCPF" />

<xs:element name="validaCPFResponse" type="tns:validaCPFResponse" />

<xs:element name="verificarConexaoComBanco" type="tns:verificarConexaoComBanco" />

<xs:element name="verificarConexaoComBancoResponse" type="tns:verificarConexaoComBancoResponse" />

<xs:complexType name="salvarUsuario">
<xs:sequence>
<xs:element name="pUsuario" type="tns:usuario" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="login" type="xs:string" minOccurs="0" />
<xs:element name="perfil" type="tns:perfil" minOccurs="0" />
<xs:element name="pessoa" type="tns:pessoa" minOccurs="0" />
<xs:element name="senha" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="perfil">
<xs:sequence>
<xs:element name="descricao" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="nomePerfil" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="pessoa">
<xs:sequence>
<xs:element name="emails" type="tns:email" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="endereco" type="tns:endereco" minOccurs="0" />
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="nome" type="xs:string" minOccurs="0" />
<xs:element name="telefones" type="tns:telefone" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="email">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="enderecoEmail" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="endereco">
<xs:sequence>
<xs:element name="bairro" type="xs:string" minOccurs="0" />
<xs:element name="cep" type="xs:string" minOccurs="0" />
<xs:element name="cidade" type="xs:string" minOccurs="0" />
<xs:element name="complemento" type="xs:string" minOccurs="0" />
<xs:element name="estado" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="numero" type="xs:string" minOccurs="0" />
<xs:element name="referencia" type="xs:string" minOccurs="0" />
<xs:element name="rua" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="telefone">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="numero" type="xs:string" minOccurs="0" />
<xs:element name="operadora" type="xs:string" minOccurs="0" />
<xs:element name="tipoTelefone" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="salvarUsuarioResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="salvarPerfil">
<xs:sequence>
<xs:element name="pPerfil" type="tns:perfil" minOccurs="0" />
<xs:element name="listAssociaPerfilPermissao" type="tns:associaPerfilPermissao" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="associaPerfilPermissao">
<xs:sequence>
<xs:element name="chaveComposta" type="tns:associaPerfilPermissaoFK" minOccurs="0" />
<xs:element name="status" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="associaPerfilPermissaoFK">
<xs:sequence>
<xs:element name="perfil" type="tns:perfil" minOccurs="0" />
<xs:element name="permissao" type="tns:permissao" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="permissao">
<xs:sequence>
<xs:element name="descricao" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:long" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="salvarPerfilResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="salvarAlerta">
<xs:sequence>
<xs:element name="pAlerta" type="tns:alerta" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="alerta">
<xs:sequence>
<xs:element name="assunto" type="xs:string" minOccurs="0" />
<xs:element name="atendente" type="tns:usuario" minOccurs="0" />
<xs:element name="dataAlerta" type="xs:dateTime" minOccurs="0" />
<xs:element name="descricao" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="pessoa" type="tns:pessoa" minOccurs="0" />
<xs:element name="protocolo" type="xs:string" minOccurs="0" />
<xs:element name="situacaoAlerta" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="salvarAlertaResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="removeItemProduto">
<xs:sequence>
<xs:element name="pItemProduto" type="tns:itemProduto" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="itemProduto">
<xs:sequence>
<xs:element name="cor" type="tns:cor" minOccurs="0" />
<xs:element name="estoqueAtual" type="xs:int" />
<xs:element name="estoqueMinimo" type="xs:int" />
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="produto" type="tns:produto" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="cor">
<xs:sequence>
<xs:element name="codigo" type="xs:string" minOccurs="0" />
<xs:element name="descricao" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:long" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="produto">
<xs:sequence>
<xs:element name="codigoBarra" type="xs:string" minOccurs="0" />
<xs:element name="codigoForFiscal" type="xs:string" minOccurs="0" />
<xs:element name="codigoProFiscal" type="xs:string" minOccurs="0" />
<xs:element name="descricao" type="xs:string" minOccurs="0" />
<xs:element name="estoqueBaixo" type="xs:boolean" minOccurs="0" />
<xs:element name="estoqueTotal" type="xs:int" />
<xs:element name="fornecedor" type="tns:fornecedor" minOccurs="0" />
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="listaItensProduto" type="tns:itemProduto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="referenciaCatalogo" type="xs:string" minOccurs="0" />
<xs:element name="valorCusto" type="xs:float" />
<xs:element name="valorVenda" type="xs:float" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="fornecedor">
<xs:sequence>
<xs:element name="codigo" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="pessoa" type="tns:pessoa" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeItemProdutoResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="recPessoaPorId">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="recPessoaPorIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:pessoa" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="salvarProduto">
<xs:sequence>
<xs:element name="pProduto" type="tns:produto" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="salvarProdutoResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="removePedido">
<xs:sequence>
<xs:element name="pPedido" type="tns:pedido" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="pedido">
<xs:sequence>
<xs:element name="codigo" type="xs:string" minOccurs="0" />
<xs:element name="dataPedido" type="xs:dateTime" minOccurs="0" />
<xs:element name="descontoDinheiro" type="xs:float" />
<xs:element name="descontoPorcentagem" type="xs:float" />
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="listaItensPedido" type="tns:itemPedido" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="subTotal" type="xs:float" />
<xs:element name="total" type="xs:float" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="itemPedido">
<xs:sequence>
<xs:element name="id" type="xs:long" />
<xs:element name="cor" type="xs:string" minOccurs="0" />
<xs:element name="descricao" type="xs:string" minOccurs="0" />
<xs:element name="quantidade" type="xs:int" />
<xs:element name="valorUnitario" type="xs:float" />
<xs:element name="idItemProduto" type="xs:long" />
<xs:element name="codigo" type="tns:codigoItem" minOccurs="0" />
<xs:element name="valorTotal" type="xs:float" />
<xs:element name="CorPorExtenso" type="xs:string" minOccurs="0" />
<xs:element name="codigoFiscal" type="xs:string" minOccurs="0" />
<xs:element name="pedido" type="tns:pedido" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="codigoItem">
<xs:sequence>
<xs:element name="codigo" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:long" />
<xs:element name="tipo" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="removePedidoResponse">
<xs:sequence>
<xs:element name="return" type="tns:pedido" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="salvarPedido">
<xs:sequence>
<xs:element name="pPedido" type="tns:pedido" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="salvarPedidoResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="verificarConexaoComBanco">
<xs:sequence />
</xs:complexType>

<xs:complexType name="verificarConexaoComBancoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="recPerfilPorId">
<xs:sequence>
<xs:element name="pId" type="xs:long" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="recPerfilPorIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:perfil" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="recListaAlertas">
<xs:sequence>
<xs:element name="pAlerta" type="tns:alerta" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="recListaAlertasResponse">
<xs:sequence>
<xs:element name="return" type="tns:alerta" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="recListaPerfis">
<xs:sequence>
<xs:element name="pPerfil" type="tns:perfil" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="recListaPerfisResponse">
<xs:sequence>
<xs:element name="return" type="tns:perfil" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="validaCPF">
<xs:sequence>
<xs:element name="pPessoa" type="tns:pessoaFisica" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="pessoaFisica">
<xs:complexContent>
<xs:extension base="tns:pessoa">
<xs:sequence>
<xs:element name="cpf" type="xs:string" minOccurs="0" />
<xs:element name="dataNascimento" type="xs:dateTime" minOccurs="0" />
<xs:element name="estadoCivil" type="xs:int" />
<xs:element name="identidade" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="validaCPFResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="recCodigoSequencia">
<xs:sequence />
</xs:complexType>

<xs:complexType name="recCodigoSequenciaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="gerarNumeroProtocolo">
<xs:sequence />
</xs:complexType>

<xs:complexType name="gerarNumeroProtocoloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="salvarRevendedor">
<xs:sequence>
<xs:element name="pViewRevendedor" type="tns:viewRevendedor" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewRevendedor">
<xs:sequence>
<xs:element name="conjugue" type="tns:pessoaFisica" minOccurs="0" />
<xs:element name="lstInformacoesComplementares" type="tns:viewInfComplementaresRevendedor" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="revendedor" type="tns:revendedor" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewInfComplementaresRevendedor">
<xs:sequence>
<xs:element name="contaBancaria" type="tns:movimentoConta" minOccurs="0" />
<xs:element name="grauParentescoPrimeiroTitular" type="xs:string" minOccurs="0" />
<xs:element name="graulParentescoSegundoTitular" type="xs:string" minOccurs="0" />
<xs:element name="primeiroTitular" type="tns:pessoaFisica" minOccurs="0" />
<xs:element name="segundoTitular" type="tns:pessoa" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="movimentoConta">
<xs:complexContent>
<xs:extension base="tns:movimentoFinanceiro">
<xs:sequence>
<xs:element name="agencia" type="xs:string" minOccurs="0" />
<xs:element name="banco" type="xs:string" minOccurs="0" />
<xs:element name="numero" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="movimentoFinanceiro">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="revendedor">
<xs:sequence>
<xs:element name="codigo" type="xs:int" />
<xs:element name="codigoConFiscal" type="xs:int" />
<xs:element name="dataCadastro" type="xs:dateTime" minOccurs="0" />
<xs:element name="dataUltimaCompra" type="xs:dateTime" minOccurs="0" />
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="limiteCredito" type="xs:float" />
<xs:element name="limiteEmUso" type="xs:float" />
<xs:element name="limiteUtilizavel" type="xs:float" />
<xs:element name="numeroNotaFiscal" type="xs:string" minOccurs="0" />
<xs:element name="observacoes" type="xs:string" minOccurs="0" />
<xs:element name="pessoa" type="tns:pessoa" minOccurs="0" />
<xs:element name="situacao" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="salvarRevendedorResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="recListaViewRevendedor">
<xs:sequence>
<xs:element name="pViewRevendedor" type="tns:viewRevendedor" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="recListaViewRevendedorResponse">
<xs:sequence>
<xs:element name="return" type="tns:viewRevendedor" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="recPermissoesPorPerfil">
<xs:sequence>
<xs:element name="pPerfil" type="tns:perfil" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="recPermissoesPorPerfilResponse">
<xs:sequence>
<xs:element name="return" type="tns:associaPerfilPermissao" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="salvarPermissao">
<xs:sequence>
<xs:element name="pPermissao" type="tns:permissao" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="salvarPermissaoResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="aprovarPedido">
<xs:sequence>
<xs:element name="pPedido" type="tns:pedido" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="aprovarPedidoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="recUltimoRevendedorCadastro">
<xs:sequence />
</xs:complexType>

<xs:complexType name="recUltimoRevendedorCadastroResponse">
<xs:sequence>
<xs:element name="return" type="tns:viewRevendedor" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="recListaUsuario">
<xs:sequence>
<xs:element name="pUsuario" type="tns:usuario" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="recListaUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="recUltimoPedidoVenda">
<xs:sequence>
<xs:element name="pRevendedor" type="tns:revendedor" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="recUltimoPedidoVendaResponse">
<xs:sequence>
<xs:element name="return" type="tns:pedidoVenda" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="pedidoVenda">
<xs:complexContent>
<xs:extension base="tns:pedido">
<xs:sequence>
<xs:element name="pagamento" type="tns:pagamento" minOccurs="0" />
<xs:element name="revendedor" type="tns:revendedor" minOccurs="0" />
<xs:element name="valorPedidoEscrito" type="xs:float" />
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="pagamento">
<xs:sequence>
<xs:element name="formaPagamento" type="xs:int" />
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="listaParcelas" type="tns:parcela" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="valor" type="xs:float" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="parcela">
<xs:sequence>
<xs:element name="dataVencimento" type="xs:dateTime" minOccurs="0" />
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="pagamento" type="tns:pagamento" minOccurs="0" />
<xs:element name="status" type="xs:int" />
<xs:element name="valor" type="xs:float" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="recProdutos">
<xs:sequence>
<xs:element name="pProduto" type="tns:produto" minOccurs="0" />
<xs:element name="useLike" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="recProdutosResponse">
<xs:sequence>
<xs:element name="return" type="tns:produto" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="recRelatorioPedidosPorRevendedor">
<xs:sequence>
<xs:element name="param" type="tns:hashMap" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="hashMap">
<xs:complexContent>
<xs:extension base="tns:abstractMap">
<xs:sequence />
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="abstractMap" abstract="true">
<xs:sequence />
</xs:complexType>

<xs:complexType name="recRelatorioPedidosPorRevendedorResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="recUsuarioPorId">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="recUsuarioPorIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="recCodigoOrcamento">
<xs:sequence />
</xs:complexType>

<xs:complexType name="recCodigoOrcamentoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="recRevendedorEtiqueta">
<xs:sequence>
<xs:element name="parameter" type="tns:hashMap" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="recRevendedorEtiquetaResponse">
<xs:sequence>
<xs:element name="return" type="tns:pessoa" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="salvarUsuarioComRetorno">
<xs:sequence>
<xs:element name="pUsuario" type="tns:usuario" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="salvarUsuarioComRetornoResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="recTodasPemissoes">
<xs:sequence />
</xs:complexType>

<xs:complexType name="recTodasPemissoesResponse">
<xs:sequence>
<xs:element name="return" type="tns:permissao" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="recAlertasPorPessoa">
<xs:sequence>
<xs:element name="pPessoa" type="tns:pessoa" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="recAlertasPorPessoaResponse">
<xs:sequence>
<xs:element name="return" type="tns:alerta" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="recListaPedidos">
<xs:sequence>
<xs:element name="pPedido" type="tns:pedido" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="recListaPedidosResponse">
<xs:sequence>
<xs:element name="return" type="tns:pedido" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeProduto">
<xs:sequence>
<xs:element name="pProduto" type="tns:produto" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeProdutoResponse">
<xs:sequence>
<xs:element name="return" type="tns:produto" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>