02 - Desenvolvimento/04 - Construcao/08 - Aplicacao/11 - Client/DCoracoesNovoClient/src/wsdl/localhost_8080/DCoracoes-Servico/wsServiceDCoracoes.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.servico.dcoracoes.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.servico.dcoracoes.com.br/" name="wsServiceDCoracoes">
<types>
<xsd:schema>
<xsd:import namespace="http://service.servico.dcoracoes.com.br/" schemaLocation="http://localhost:8080/DCoracoes-Servico/wsServiceDCoracoes?xsd=1" />
</xsd:schema>
</types>
<message name="salvarPermissao">
<part name="parameters" element="tns:salvarPermissao" />
</message>
<message name="salvarPermissaoResponse">
<part name="parameters" element="tns:salvarPermissaoResponse" />
</message>
<message name="Exception">
<part name="fault" element="tns:Exception" />
</message>
<message name="recTodasPemissoes">
<part name="parameters" element="tns:recTodasPemissoes" />
</message>
<message name="recTodasPemissoesResponse">
<part name="parameters" element="tns:recTodasPemissoesResponse" />
</message>
<message name="recAlertasPorPessoa">
<part name="parameters" element="tns:recAlertasPorPessoa" />
</message>
<message name="recAlertasPorPessoaResponse">
<part name="parameters" element="tns:recAlertasPorPessoaResponse" />
</message>
<message name="gerarNumeroProtocolo">
<part name="parameters" element="tns:gerarNumeroProtocolo" />
</message>
<message name="gerarNumeroProtocoloResponse">
<part name="parameters" element="tns:gerarNumeroProtocoloResponse" />
</message>
<message name="recListaAlertas">
<part name="parameters" element="tns:recListaAlertas" />
</message>
<message name="recListaAlertasResponse">
<part name="parameters" element="tns:recListaAlertasResponse" />
</message>
<message name="recCodigoOrcamento">
<part name="parameters" element="tns:recCodigoOrcamento" />
</message>
<message name="recCodigoOrcamentoResponse">
<part name="parameters" element="tns:recCodigoOrcamentoResponse" />
</message>
<message name="aprovarPedido">
<part name="parameters" element="tns:aprovarPedido" />
</message>
<message name="aprovarPedidoResponse">
<part name="parameters" element="tns:aprovarPedidoResponse" />
</message>
<message name="recListaPerfis">
<part name="parameters" element="tns:recListaPerfis" />
</message>
<message name="recListaPerfisResponse">
<part name="parameters" element="tns:recListaPerfisResponse" />
</message>
<message name="recPerfilPorId">
<part name="parameters" element="tns:recPerfilPorId" />
</message>
<message name="recPerfilPorIdResponse">
<part name="parameters" element="tns:recPerfilPorIdResponse" />
</message>
<message name="recPermissoesPorPerfil">
<part name="parameters" element="tns:recPermissoesPorPerfil" />
</message>
<message name="recPermissoesPorPerfilResponse">
<part name="parameters" element="tns:recPermissoesPorPerfilResponse" />
</message>
<message name="salvarProduto">
<part name="parameters" element="tns:salvarProduto" />
</message>
<message name="salvarProdutoResponse">
<part name="parameters" element="tns:salvarProdutoResponse" />
</message>
<message name="removeItemProduto">
<part name="parameters" element="tns:removeItemProduto" />
</message>
<message name="removeItemProdutoResponse">
<part name="parameters" element="tns:removeItemProdutoResponse" />
</message>
<message name="removeProduto">
<part name="parameters" element="tns:removeProduto" />
</message>
<message name="removeProdutoResponse">
<part name="parameters" element="tns:removeProdutoResponse" />
</message>
<message name="salvarRevendedor">
<part name="parameters" element="tns:salvarRevendedor" />
</message>
<message name="salvarRevendedorResponse">
<part name="parameters" element="tns:salvarRevendedorResponse" />
</message>
<message name="recUltimoRevendedorCadastro">
<part name="parameters" element="tns:recUltimoRevendedorCadastro" />
</message>
<message name="recUltimoRevendedorCadastroResponse">
<part name="parameters" element="tns:recUltimoRevendedorCadastroResponse" />
</message>
<message name="recCodigoSequencia">
<part name="parameters" element="tns:recCodigoSequencia" />
</message>
<message name="recCodigoSequenciaResponse">
<part name="parameters" element="tns:recCodigoSequenciaResponse" />
</message>
<message name="recListaViewRevendedor">
<part name="parameters" element="tns:recListaViewRevendedor" />
</message>
<message name="recListaViewRevendedorResponse">
<part name="parameters" element="tns:recListaViewRevendedorResponse" />
</message>
<message name="recUltimoPedidoVenda">
<part name="parameters" element="tns:recUltimoPedidoVenda" />
</message>
<message name="recUltimoPedidoVendaResponse">
<part name="parameters" element="tns:recUltimoPedidoVendaResponse" />
</message>
<message name="recRevendedorEtiqueta">
<part name="parameters" element="tns:recRevendedorEtiqueta" />
</message>
<message name="recRevendedorEtiquetaResponse">
<part name="parameters" element="tns:recRevendedorEtiquetaResponse" />
</message>
<message name="recPessoaPorId">
<part name="parameters" element="tns:recPessoaPorId" />
</message>
<message name="recPessoaPorIdResponse">
<part name="parameters" element="tns:recPessoaPorIdResponse" />
</message>
<message name="salvarUsuario">
<part name="parameters" element="tns:salvarUsuario" />
</message>
<message name="salvarUsuarioResponse">
<part name="parameters" element="tns:salvarUsuarioResponse" />
</message>
<message name="recListaUsuario">
<part name="parameters" element="tns:recListaUsuario" />
</message>
<message name="recListaUsuarioResponse">
<part name="parameters" element="tns:recListaUsuarioResponse" />
</message>
<message name="recUsuarioPorId">
<part name="parameters" element="tns:recUsuarioPorId" />
</message>
<message name="recUsuarioPorIdResponse">
<part name="parameters" element="tns:recUsuarioPorIdResponse" />
</message>
<message name="verificarConexaoComBanco">
<part name="parameters" element="tns:verificarConexaoComBanco" />
</message>
<message name="verificarConexaoComBancoResponse">
<part name="parameters" element="tns:verificarConexaoComBancoResponse" />
</message>
<message name="recRelatorioPedidosPorRevendedor">
<part name="parameters" element="tns:recRelatorioPedidosPorRevendedor" />
</message>
<message name="recRelatorioPedidosPorRevendedorResponse">
<part name="parameters" element="tns:recRelatorioPedidosPorRevendedorResponse" />
</message>
<message name="salvarPedido">
<part name="parameters" element="tns:salvarPedido" />
</message>
<message name="salvarPedidoResponse">
<part name="parameters" element="tns:salvarPedidoResponse" />
</message>
<message name="removePedido">
<part name="parameters" element="tns:removePedido" />
</message>
<message name="removePedidoResponse">
<part name="parameters" element="tns:removePedidoResponse" />
</message>
<message name="salvarPerfil">
<part name="parameters" element="tns:salvarPerfil" />
</message>
<message name="salvarPerfilResponse">
<part name="parameters" element="tns:salvarPerfilResponse" />
</message>
<message name="recListaPedidos">
<part name="parameters" element="tns:recListaPedidos" />
</message>
<message name="recListaPedidosResponse">
<part name="parameters" element="tns:recListaPedidosResponse" />
</message>
<message name="salvarAlerta">
<part name="parameters" element="tns:salvarAlerta" />
</message>
<message name="salvarAlertaResponse">
<part name="parameters" element="tns:salvarAlertaResponse" />
</message>
<message name="recProdutos">
<part name="parameters" element="tns:recProdutos" />
</message>
<message name="recProdutosResponse">
<part name="parameters" element="tns:recProdutosResponse" />
</message>
<message name="validaCPF">
<part name="parameters" element="tns:validaCPF" />
</message>
<message name="validaCPFResponse">
<part name="parameters" element="tns:validaCPFResponse" />
</message>
<portType name="wsServiceDCoracoes">
<operation name="salvarPermissao">
<input wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/salvarPermissaoRequest" message="tns:salvarPermissao" />
<output wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/salvarPermissaoResponse" message="tns:salvarPermissaoResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/salvarPermissao/Fault/Exception" />
</operation>
<operation name="recTodasPemissoes">
<input wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recTodasPemissoesRequest" message="tns:recTodasPemissoes" />
<output wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recTodasPemissoesResponse" message="tns:recTodasPemissoesResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recTodasPemissoes/Fault/Exception" />
</operation>
<operation name="recAlertasPorPessoa">
<input wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recAlertasPorPessoaRequest" message="tns:recAlertasPorPessoa" />
<output wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recAlertasPorPessoaResponse" message="tns:recAlertasPorPessoaResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recAlertasPorPessoa/Fault/Exception" />
</operation>
<operation name="gerarNumeroProtocolo">
<input wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/gerarNumeroProtocoloRequest" message="tns:gerarNumeroProtocolo" />
<output wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/gerarNumeroProtocoloResponse" message="tns:gerarNumeroProtocoloResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/gerarNumeroProtocolo/Fault/Exception" />
</operation>
<operation name="recListaAlertas">
<input wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recListaAlertasRequest" message="tns:recListaAlertas" />
<output wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recListaAlertasResponse" message="tns:recListaAlertasResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recListaAlertas/Fault/Exception" />
</operation>
<operation name="recCodigoOrcamento">
<input wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recCodigoOrcamentoRequest" message="tns:recCodigoOrcamento" />
<output wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recCodigoOrcamentoResponse" message="tns:recCodigoOrcamentoResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recCodigoOrcamento/Fault/Exception" />
</operation>
<operation name="aprovarPedido">
<input wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/aprovarPedidoRequest" message="tns:aprovarPedido" />
<output wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/aprovarPedidoResponse" message="tns:aprovarPedidoResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/aprovarPedido/Fault/Exception" />
</operation>
<operation name="recListaPerfis">
<input wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recListaPerfisRequest" message="tns:recListaPerfis" />
<output wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recListaPerfisResponse" message="tns:recListaPerfisResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recListaPerfis/Fault/Exception" />
</operation>
<operation name="recPerfilPorId">
<input wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recPerfilPorIdRequest" message="tns:recPerfilPorId" />
<output wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recPerfilPorIdResponse" message="tns:recPerfilPorIdResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recPerfilPorId/Fault/Exception" />
</operation>
<operation name="recPermissoesPorPerfil">
<input wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recPermissoesPorPerfilRequest" message="tns:recPermissoesPorPerfil" />
<output wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recPermissoesPorPerfilResponse" message="tns:recPermissoesPorPerfilResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recPermissoesPorPerfil/Fault/Exception" />
</operation>
<operation name="salvarProduto">
<input wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/salvarProdutoRequest" message="tns:salvarProduto" />
<output wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/salvarProdutoResponse" message="tns:salvarProdutoResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/salvarProduto/Fault/Exception" />
</operation>
<operation name="removeItemProduto">
<input wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/removeItemProdutoRequest" message="tns:removeItemProduto" />
<output wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/removeItemProdutoResponse" message="tns:removeItemProdutoResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/removeItemProduto/Fault/Exception" />
</operation>
<operation name="removeProduto">
<input wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/removeProdutoRequest" message="tns:removeProduto" />
<output wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/removeProdutoResponse" message="tns:removeProdutoResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/removeProduto/Fault/Exception" />
</operation>
<operation name="salvarRevendedor">
<input wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/salvarRevendedorRequest" message="tns:salvarRevendedor" />
<output wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/salvarRevendedorResponse" message="tns:salvarRevendedorResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/salvarRevendedor/Fault/Exception" />
</operation>
<operation name="recUltimoRevendedorCadastro">
<input wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recUltimoRevendedorCadastroRequest" message="tns:recUltimoRevendedorCadastro" />
<output wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recUltimoRevendedorCadastroResponse" message="tns:recUltimoRevendedorCadastroResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recUltimoRevendedorCadastro/Fault/Exception" />
</operation>
<operation name="recCodigoSequencia">
<input wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recCodigoSequenciaRequest" message="tns:recCodigoSequencia" />
<output wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recCodigoSequenciaResponse" message="tns:recCodigoSequenciaResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recCodigoSequencia/Fault/Exception" />
</operation>
<operation name="recListaViewRevendedor">
<input wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recListaViewRevendedorRequest" message="tns:recListaViewRevendedor" />
<output wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recListaViewRevendedorResponse" message="tns:recListaViewRevendedorResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recListaViewRevendedor/Fault/Exception" />
</operation>
<operation name="recUltimoPedidoVenda">
<input wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recUltimoPedidoVendaRequest" message="tns:recUltimoPedidoVenda" />
<output wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recUltimoPedidoVendaResponse" message="tns:recUltimoPedidoVendaResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recUltimoPedidoVenda/Fault/Exception" />
</operation>
<operation name="recRevendedorEtiqueta">
<input wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recRevendedorEtiquetaRequest" message="tns:recRevendedorEtiqueta" />
<output wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recRevendedorEtiquetaResponse" message="tns:recRevendedorEtiquetaResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recRevendedorEtiqueta/Fault/Exception" />
</operation>
<operation name="recPessoaPorId">
<input wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recPessoaPorIdRequest" message="tns:recPessoaPorId" />
<output wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recPessoaPorIdResponse" message="tns:recPessoaPorIdResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recPessoaPorId/Fault/Exception" />
</operation>
<operation name="salvarUsuario">
<input wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/salvarUsuarioRequest" message="tns:salvarUsuario" />
<output wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/salvarUsuarioResponse" message="tns:salvarUsuarioResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/salvarUsuario/Fault/Exception" />
</operation>
<operation name="recListaUsuario">
<input wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recListaUsuarioRequest" message="tns:recListaUsuario" />
<output wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recListaUsuarioResponse" message="tns:recListaUsuarioResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recListaUsuario/Fault/Exception" />
</operation>
<operation name="recUsuarioPorId">
<input wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recUsuarioPorIdRequest" message="tns:recUsuarioPorId" />
<output wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recUsuarioPorIdResponse" message="tns:recUsuarioPorIdResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recUsuarioPorId/Fault/Exception" />
</operation>
<operation name="verificarConexaoComBanco">
<input wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/verificarConexaoComBancoRequest" message="tns:verificarConexaoComBanco" />
<output wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/verificarConexaoComBancoResponse" message="tns:verificarConexaoComBancoResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/verificarConexaoComBanco/Fault/Exception" />
</operation>
<operation name="recRelatorioPedidosPorRevendedor">
<input wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recRelatorioPedidosPorRevendedorRequest" message="tns:recRelatorioPedidosPorRevendedor" />
<output wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recRelatorioPedidosPorRevendedorResponse" message="tns:recRelatorioPedidosPorRevendedorResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recRelatorioPedidosPorRevendedor/Fault/Exception" />
</operation>
<operation name="salvarPedido">
<input wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/salvarPedidoRequest" message="tns:salvarPedido" />
<output wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/salvarPedidoResponse" message="tns:salvarPedidoResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/salvarPedido/Fault/Exception" />
</operation>
<operation name="removePedido">
<input wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/removePedidoRequest" message="tns:removePedido" />
<output wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/removePedidoResponse" message="tns:removePedidoResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/removePedido/Fault/Exception" />
</operation>
<operation name="salvarPerfil">
<input wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/salvarPerfilRequest" message="tns:salvarPerfil" />
<output wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/salvarPerfilResponse" message="tns:salvarPerfilResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/salvarPerfil/Fault/Exception" />
</operation>
<operation name="recListaPedidos">
<input wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recListaPedidosRequest" message="tns:recListaPedidos" />
<output wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recListaPedidosResponse" message="tns:recListaPedidosResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recListaPedidos/Fault/Exception" />
</operation>
<operation name="salvarAlerta">
<input wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/salvarAlertaRequest" message="tns:salvarAlerta" />
<output wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/salvarAlertaResponse" message="tns:salvarAlertaResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/salvarAlerta/Fault/Exception" />
</operation>
<operation name="recProdutos">
<input wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recProdutosRequest" message="tns:recProdutos" />
<output wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recProdutosResponse" message="tns:recProdutosResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/recProdutos/Fault/Exception" />
</operation>
<operation name="validaCPF">
<input wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/validaCPFRequest" message="tns:validaCPF" />
<output wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/validaCPFResponse" message="tns:validaCPFResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.servico.dcoracoes.com.br/wsServiceDCoracoes/validaCPF/Fault/Exception" />
</operation>
</portType>
<binding name="wsServiceDCoracoesPortBinding" type="tns:wsServiceDCoracoes">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="salvarPermissao">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="recTodasPemissoes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="recAlertasPorPessoa">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="gerarNumeroProtocolo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="recListaAlertas">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="recCodigoOrcamento">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="aprovarPedido">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="recListaPerfis">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="recPerfilPorId">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="recPermissoesPorPerfil">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="salvarProduto">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="removeItemProduto">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="removeProduto">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="salvarRevendedor">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="recUltimoRevendedorCadastro">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="recCodigoSequencia">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="recListaViewRevendedor">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="recUltimoPedidoVenda">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="recRevendedorEtiqueta">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="recPessoaPorId">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="salvarUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="recListaUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="recUsuarioPorId">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="verificarConexaoComBanco">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="recRelatorioPedidosPorRevendedor">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="salvarPedido">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="removePedido">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="salvarPerfil">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="recListaPedidos">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="salvarAlerta">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="recProdutos">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="validaCPF">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
</binding>
<service name="wsServiceDCoracoes">
<port name="wsServiceDCoracoesPort" binding="tns:wsServiceDCoracoesPortBinding">
<soap:address location="http://localhost:8080/DCoracoes-Servico/wsServiceDCoracoes" />
</port>
</service>
</definitions>